<h1>Aktualny czas</h1>

<p>Aktualny czas to: </p> <%= DateTime.now %>

<p><% if is_DayTime? %>
<img src="https://gfx.radiozet.pl/var/radiozetsg/storage/images/co-gdzie-kiedy-jak/najdluzszy-dzien-w-roku-2021-kiedy-wypada-w-polsce-i-ile-godzin-trwa-data/1291072-12-pol-PL/Najdluzszy-dzien-w-roku-2021-kiedy-wypada-w-Polsce-i-ile-godzin-trwa-DATA_article.jpg"/>

<% else%>
<img src="https://www.pruszkow.pl/wp-content/uploads/2021/05/noc-muzeow.jpg"/>
<% end %>
</p>
